@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Главная страница</h1>
    <p>На вкладке "Приложени" - просмотр доступных приложений.</p>
    <p>На вкладке "Заявки" - создание, редактирование и просмотр доступных приложений.</p>
</div>
